# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [76]:
import numpy as np
import pandas as pd
url='https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
dff=df.copy()

In [88]:
dff.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [90]:
#1.Column names should be in lower case
#White spaces in column names should be replaced by _
dff.columns=[col.replace(" ","_").lower() for col in dff.columns]

dff.columns

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [92]:
#st could be replaced for state
dff.rename(columns={"st":"state"},inplace=True)
dff.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [94]:
#Gender column contains various inconsistent values such as "F", "M", "Femal",
#"Male", "female", which need to be standardized, for example, to "M" and "F".
def Gender(row):
    if row["gender"]=="Femal":
        return"F"
    elif row["gender"]=="Male":
        return"M"
    elif row["gender"]=="female":
        return"F"  
        
dff["gender"]=dff.apply(Gender, axis=1)
dff["gender"].value_counts()

gender
F    45
M    39
Name: count, dtype: int64

In [96]:
#2.State abbreviations be can replaced with its full name, for example "AZ": "Arizona", 
#"Cali": "California", "WA": "Washington"
def State(row):
    if row["state"]=="AZ":
        return"Arizona"
    elif row["state"]=="Cali":
        return"California"
    elif row["state"]=="WA":
        return"Washington" 

dff["state"]=dff.apply(State, axis=1)
dff["state"].value_counts()

state
California    120
Washington     30
Arizona        25
Name: count, dtype: int64

In [98]:
#In education, "Bachelors" could be replaced by "Bachelor"

dff['education']=dff['education'].replace({"Bachelors":"Bachelor"})

In [16]:
#In Customer Lifetime Value, delete the % character
dff['customer_lifetime_value'] = dff['customer_lifetime_value'].str.replace('%', '')

dff.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,None,None,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,None,None,Bachelor,697953.59,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,None,None,Bachelor,1288743.17,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,None,None,Bachelor,764586.18,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,None,None,High School or Below,536307.65,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [100]:
#In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"
def Vehicle_class(row):
    if row["vehicle_class"]=="Sports Car":
        return"Luxury"
    elif row["vehicle_class"]=="Luxury SUV":
        return"Luxury"
    elif row["vehicle_class"]=="Luxury Car":
        return"Luxury" 

dff["vehicle_class"]=dff.apply(Vehicle_class, axis=1)
dff["vehicle_class"].value_counts()

vehicle_class
Luxury    91
Name: count, dtype: int64

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [102]:
#Customer lifetime value should be numeric

dff['customer_lifetime_value']= pd.to_numeric(dff['customer_lifetime_value'], errors='coerce').fillna(0).astype(int)
dff.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value        int32
income                       float64
monthly_premium_auto         float64
number_of_open_complaints     object
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [104]:
#Number of open complaints has an incorrect format. 
#Look at the different values it takes with unique() and take the middle value. 
#As an example, 1/5/00 should be 5. Number of open complaints is a string - remember 
#you can use split() to deal with it and take the number you need. Finally, since it should be numeric, 
#cast the column to be in its proper type.

dff['number_of_open_complaints'] = dff['number_of_open_complaints'].apply(lambda x: x.split('/')[1] if isinstance(x, str) and '/' in x else x)
print(dff["number_of_open_complaints"].unique())
dff["number_of_open_complaints"] = pd.to_numeric(dff["number_of_open_complaints"], errors='coerce').fillna(0).astype(int)
dff.dtypes

['0' '2' '1' '3' '5' '4' nan]

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value        int32
income                       float64
monthly_premium_auto         float64
number_of_open_complaints      int32
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [108]:
dff.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,None,None,Master,0,0.0,1000.0,0,Personal Auto,None,2.704934
1,QZ44356,None,None,Bachelor,0,0.0,94.0,0,Personal Auto,None,1131.464935
2,AI49188,None,None,Bachelor,0,48767.0,108.0,0,Personal Auto,None,566.472247
3,WW63253,None,None,Bachelor,0,0.0,106.0,0,Corporate Auto,None,529.881344
4,GA49547,None,None,High School or Below,0,36357.0,68.0,0,Personal Auto,None,17.269323

In [110]:
#Drop the rows or columns with null values

dff.isnull().sum()#Analyze the null values.

customer                     2937
state                        3833
gender                       3924
education                    2937
customer_lifetime_value         0
income                       2937
monthly_premium_auto         2937
number_of_open_complaints       0
policy_type                  2937
vehicle_class                3917
total_claim_amount           2937
dtype: int64

In [112]:
dff.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [114]:
#Identifying type columns
num_col=dff.select_dtypes(include=['float64','int64']).columns
cat_col=dff.select_dtypes(include=['object']).columns
print(num_col)
print(cat_col)

Index(['income', 'monthly_premium_auto', 'total_claim_amount'], dtype='object')
Index(['customer', 'state', 'gender', 'education', 'policy_type',
       'vehicle_class'],
      dtype='object')

In [116]:
#Fill the null values with a specific value (such as the column mean or median for numerical variables, 
#and mode for categorical variables)

for col in num_col:#Filling the numerical columns using the median 
    dff[col]=dff[col].fillna(dff[col].median())
for col in cat_col:#and categorical columns using the mode.
    dff[col]=dff[col].fillna(dff[col].mode())

In [118]:
#Fill the null values with the previous or next value in the column

dff.isnull().sum()/len(dff)*100#checking the percentage of null values

customer                     73.278443
state                        95.608782
gender                       97.879242
education                    73.278443
customer_lifetime_value       0.000000
income                        0.000000
monthly_premium_auto          0.000000
number_of_open_complaints     0.000000
policy_type                  73.278443
vehicle_class                97.704591
total_claim_amount            0.000000
dtype: float64

In [120]:
#Removing lignes that are too incompletes
dff.dropna(how='all', subset=['customer', 'state','gender','education','policy_type','vehicle_class'],inplace=True)

In [122]:
#Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

dff.fillna("Unknow", inplace=True)#filling the rest "gender,state and vehicle_class" with "unknow"

dff.isnull().sum()#checking if there no more null values

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [124]:
dff.head()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,California,F,Master,0,0.0,1000.0,0,Personal Auto,Luxury,2.704934
1,QZ44356,Unknow,Unknow,Bachelor,0,0.0,94.0,0,Personal Auto,Unknow,1131.464935
2,AI49188,Unknow,Unknow,Bachelor,0,48767.0,108.0,0,Personal Auto,Unknow,566.472247
3,WW63253,Unknow,Unknow,Bachelor,0,0.0,106.0,0,Corporate Auto,Unknow,529.881344
4,GA49547,Unknow,Unknow,High School or Below,0,36357.0,68.0,0,Personal Auto,Unknow,17.269323

In [126]:
#as a last step, convert all the numeric variables to integers
dff[num_col] = dff[num_col].astype(int)

In [128]:
dff.dtypes

customer                     object
state                        object
gender                       object
education                    object
customer_lifetime_value       int32
income                        int32
monthly_premium_auto          int32
number_of_open_complaints     int32
policy_type                  object
vehicle_class                object
total_claim_amount            int32
dtype: object

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [130]:
#Dropping all duplicate rows
dff.duplicated().sum()

0

In [132]:
#checking values of each columns to be sure there is no duplicated values
list=['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount']
for i in list:
    print(dff[i].value_counts().head())

customer
RB50392    1
HJ15383    1
AO74776    1
HQ82233    1
OL72737    1
Name: count, dtype: int64
state
Unknow        895
California    121
Washington     30
Arizona        25
Name: count, dtype: int64
gender
Unknow    986
F          46
M          39
Name: count, dtype: int64
education
Bachelor                331
College                 313
High School or Below    296
Master                   94
Doctor                   37
Name: count, dtype: int64
customer_lifetime_value
0    1071
Name: count, dtype: int64
income
0        252
43860      4
17622      4
36650      3
14072      3
Name: count, dtype: int64
monthly_premium_auto
65    47
63    39
71    37
67    37
73    37
Name: count, dtype: int64
number_of_open_complaints
0    830
1    138
2     50
3     34
4     13
Name: count, dtype: int64
policy_type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
vehicle_class
Unknow    979
Luxury     92
Name: count, dtype: int64
total_claim_amount
321    20
350    16
312    15
331    15
316    14
Name: count, dtype: int64

I don't have any duplicated value

In [136]:
#Save the cleaned dataset to a new CSV file.
dff.to_csv('insurance_company_cleaned.csv', index=False)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [5]:
import pandas as pd

def format_columns(dff):
    """Format column names: lowercase and replace spaces with underscores."""
    dff.columns = [col.replace(" ", "_").lower() for col in dff.columns]
    return dff

def rename_col(dff):
    """Rename 'st' to 'state'."""
    dff.rename(columns={"st": "state"}, inplace=True)
    return dff

def clean_gender(dff):
    """Standardize gender values to 'M' and 'F'."""
    def gender(row):
        if row["gender"] in ["Femal", "female"]:
            return "F"
        elif row["gender"] in ["Male", "M"]:
            return "M"
        else:
            return row["gender"]

    dff["gender"] = dff.apply(gender, axis=1)
    return dff

def clean_state(dff):
    """Replace state abbreviations with full names."""
    state_mapping = {"AZ": "Arizona", "Cali": "California", "WA": "Washington"}
    dff["state"] = dff["state"].replace(state_mapping)
    return dff

def replace_bachelor(dff):
    """Replace 'Bachelors' with 'Bachelor' in the education column."""
    dff["education"] = dff["education"].replace({"Bachelors": "Bachelor"})
    return dff

def clean_customer_lifetime_value(dff):
    """Remove '%' from 'customer_lifetime_value' and convert to numeric."""
    dff["customer_lifetime_value"] = dff["customer_lifetime_value"].str.replace('%', '').astype(float)
    return dff

def clean_vehicle_class(dff):
    """Group vehicle class values into 'Luxury'."""
    def vehicle_class(row):
        if row["vehicle_class"] in ["Sports Car", "Luxury SUV", "Luxury Car"]:
            return "Luxury"
        else:
            return row["vehicle_class"]

    dff["vehicle_class"] = dff.apply(vehicle_class, axis=1)
    return dff

def convert_to_numeric(dff):
    """Convert 'customer_lifetime_value' to numeric."""
    dff["customer_lifetime_value"] = pd.to_numeric(dff["customer_lifetime_value"], errors='coerce').fillna(0).astype(int)
    return dff

def clean_open_complaints(dff):
    """Clean 'number_of_open_complaints' column and convert to numeric."""
    dff['number_of_open_complaints'] = dff['number_of_open_complaints'].apply(lambda x: x.split('/')[1] if isinstance(x, str) and '/' in x else x)
    dff['number_of_open_complaints'] = pd.to_numeric(dff['number_of_open_complaints'], errors='coerce').fillna(0).astype(int)
    return dff

def fill_missing_values(dff):
    """Fill missing values in numeric columns with median and categorical with mode."""
    num_cols = dff.select_dtypes(include=['float64', 'int64']).columns
    cat_cols = dff.select_dtypes(include=['object']).columns
    
    for col in num_cols:
        dff[col] = dff[col].fillna(dff[col].median())
    for col in cat_cols:
        dff[col] = dff[col].fillna(dff[col].mode()[0])
        
    return dff

def remove_incomplete_rows(dff):
    """Remove rows that are too incomplete."""
    dff = dff.dropna(how='all', subset=['customer', 'state', 'gender', 'education', 'policy_type', 'vehicle_class'])
    return dff

def check_duplicates(dff):
    """Check for duplicate rows."""
    return dff.duplicated().sum()

def save_to_csv(dff, filename):
    """Save the cleaned DataFrame to a CSV file."""
    dff.to_csv(filename, index=False)
    print(f"Data saved to {filename}")

def main():
    """Main function to run all cleaning steps."""
    dff = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

    # Apply all cleaning functions
    dff = format_columns(dff)
    dff = rename_col(dff)
    dff = clean_gender(dff)
    dff = clean_state(dff)
    dff = replace_bachelor(dff)
    dff = clean_customer_lifetime_value(dff)
    dff = clean_vehicle_class(dff)
    dff = convert_to_numeric(dff)
    dff = clean_open_complaints(dff)
    dff = fill_missing_values(dff)
    dff = remove_incomplete_rows(dff)
    
    # Check for duplicates
    duplicates = check_duplicates(dff)
    print(f"Number of duplicate rows: {duplicates}")
    
     Save the cleaned data
    save_to_csv(dff, 'cleaned_data.csv')

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# 1. Calculate quantile 0.75 and 0.25 'total_claim_amount' and 'customer_lifetime_value'
claim_75th_percentile = dff['total_claim_amount'].quantile(0.75)
lifetime_value_25th_percentile = dff['customer_lifetime_value'].quantile(0.25)

# 2.clients with total claim amount > 75e quantile and lifetime value < 25e percentile
filtered_customers = dff[
    (dff['total_claim_amount'] > claim_75th_percentile) & 
    (dff['customer_lifetime_value'] < lifetime_value_25th_percentile)
]

# 3. show statics 
summary_stats = filtered_customers[['total_claim_amount', 'customer_lifetime_value']].describe()

# Print stats
print(summary_stats)